<div class="product-infor-detail">
    <input type="radio" name="slider" id="home" checked>
    <input type="radio" name="slider" id="rated">
    <input type="radio" name="slider" id="product-accompanying">
    <nav>
        <label for="home" class="home">Chi tiết</label>
        <label for="rated" class="rated">Đổi mật khẩu</label>
    </nav>
    <section>
        <div class="content content-1">
            <form action="" method="post">
                <div>
                    <label for="">Họ tên</label>
                    <input type="text" value="Nguyễn Minh Thắng">
                </div>
                <div>
                    <label for="">Số điện thoại</label>
                    <input disabled type="text" value="0905646804">
                </div>
                <div>
                    <label for="">Email</label>
                    <input disabled type="email" value="nmthangdn2000@gmail.com">
                </div>
                <div>
                    <label for="">Giới tính</label>
                    <div>
                        <input type="radio" id="male" name="sex" value="Nam" checked>
                        <label for="male">Nam</label>
                        <input type="radio" id="female" name="sex" value="Nữ">
                        <label for="female">Nữ</label>
                    </div>
                </div>
                <div>
                    <label for="">Ngày sinh <br> (Không bắt buộc)</label>
                    <div class="dashboard-select">
                        <select id="day">
                            <option value="">Ngày</option>
                        </select>
                    </div>
                    <div class="dashboard-select">
                        <select id="month">
                            <option value="">Tháng</option>
                        </select>
                    </div>
                    <div class="dashboard-select">
                        <select id="year">
                            <option value="">Năm</option>
                        </select>
                    </div>
                </div>
                <button type="submit">Cập nhật</button>
            </form>
        </div>
        <div class="content content-2">
            <form action="" method="post">
                <div>
                    <label for="password">Mật khẩu cũ</label>
                    <input type="password" id="password" placeholder="Mật khẩu cũ">
                </div>
                <div>
                    <label for="newpassword">Mật khẩu mới</label>
                    <input id="newPassword" type="password" placeholder="Mật khẩu mới">
                </div>
                <div>
                    <label for="passwordConfirm">Nhập lại mật khẩu</label>
                    <input type="password" name="passwordConfirm" placeholder="Nhập lại mật khẩu">
                </div>
                <button type="submit">Cập nhật</button>
            </form>
        </div>
    </section>
</div>