@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
*, ::before, ::after{
    box-sizing: border-box;
}
:root{
    --color-nav: rgb(34, 34, 34);
    --color-title: rgb(36, 36, 36);
    --color-title-footer: rgb(255, 255, 255);
    --color-text-footer: rgb(217, 217, 217);
    --color-text: #000000CC;
    --color-hover: #f48220;
    --color-button: #f63;
    --color-hover-button: #f53d2d;
    --font-size-title: 13px;
    --font-size-label: 16px;
    --font-size-text: 14px;
    --max-with-page: 1200px;
    --bacground: linear-gradient(rgb(63, 77, 84), rgb(51, 68, 102));
    --bacground-a6: linear-gradient(rgb(63, 77, 84, 0.6), rgb(51, 68, 102, 0.3));
    --bacground-page: #f5f5f5;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, rgb(128, 150, 194));
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, rgb(51, 68, 102));
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: rgb(125, 125, 125);
    line-height: 1.5;
    background-color: var(--bacground-page);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.text-align-left{
    text-align: left;
}
.text-align-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}
.align-item-center{
    align-items: center;
}
input{
    border: none;
}
input:focus, select:focus{
    outline: none;
}
.col-md-3{
    flex: 0 0 20%;
    width: 100%;
    padding-right: 20px;
}
.col-md-9{
    flex: 0 0 80%;
    width: 100%;
    position: relative;
}
.col-md-4{
    flex: 0 0 25%;
    width: 100%;
    margin-bottom: 2rem;
}
.col-md-8{
    flex: 0 0 75%;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
}
/* loading */
#loading-page{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 5;
}
#loading-page.hide{
    z-index: -1;
}
#loading-page div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 156px;
    height: 156px;
    border: 1px solid rgb(0,0,0,0.7);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    position: relative;
}
#loading-page div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-label);
}
/* loading */
/* fixed-nav */
.fixed-nav{
    position: fixed; 
    z-index: 3;
    width: 100%;
    background: var(--bacground);
    top: -80%;
    transition: all 0.3s;
}
.fixed-nav .row{
    display: flex;
    position: relative;
    max-width: var(--max-with-page);
    margin: auto;
}
.fixed-nav .row .header-top{
    flex: 0 0 50%;
}
.fixed-nav .row .header-top .row .logo{
    flex: 0 0 30%;
}
.fixed-nav .row .header-top .row .hotline{
    flex: 0 0 0%;
}
.fixed-nav .row .header-top .row nav{
    flex: 0 0 70%;
}
.fixed-nav .row .header-top .row nav ul li a{
    color: #fff;
}
.fixed-nav .row .header-top .row nav ul li a:hover{
    color: var(--color-hover);
}
.fixed-nav .row .header-bottom{
    flex: 0 0 50%;
}
.fixed-nav .row .header-top .row .hotline{
    display: none;
}
.fixed-nav .row .header-bottom .row .search-box{
    flex: 0 0 40%;
    width: 100%;
}
.fixed-nav .row .header-bottom .row .search-box{
    flex: 0 0 60%;
    width: 100%;
}
.fixed-nav .row  .header-bottom .row .header-user-shortcut{
    flex: 0 0 40%;
    width: 100%;
}
/* fixed-nav */
/* header-top */
.header-top{
    max-width: var(--max-with-page);
    margin: auto;
    position: relative;
}
.header-top .row{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}
.header-top .row .logo, .header-top .row .hotline{
    flex: 0 0 20%;
}
.header-top .row .hotline .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header-top .row .hotline .row img{
    margin-right: 5px;
}
.header-top .row nav{
    flex: 0 0 60%;
}
.action-sidebar{
    display: none;
}
.header-top .row nav ul li{
    display: inline-block;
    margin: 0;
}
.header-top .row nav ul li a{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 15px;
    color: var(--color-nav);
    transition: all 0.3s;
}
.header-top .row nav ul li a:hover{
    color: var(--color-hover);
}
/* header-top */
/* header-bottom */
.header-bottom{
    background: var(--bacground);
    width: 100%;
    padding: 8px 0;
    position: relative;
}
.header-bottom .row{
    max-width: var(--max-with-page);
    margin: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.header-bottom .row .btn-toggler{
    display: none;
    font-size: 25px;
    line-height: 10px;
}
.header-bottom .row .btn-toggler ion-icon{
    cursor: pointer;
    color: #fff;
    padding: 3px;
    background: transparent;
    border-radius: 5px;
    transition: all 0.3s;
}
.header-bottom .row .btn-toggler ion-icon:hover{
    color: var(--color-text);
    background: #fff;
}
.header-bottom .row .search-box{
    flex: 0 0 80%;
    width: 100%;
}
.header-bottom .row .header-user-shortcut{
    flex: 0 0 20%;
}
.header-bottom .row .search-box > form{
    position: relative;
}
.header-bottom .row .search-box > form > input{
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 20px;
    border: 1px solid #aaa;
    font-size: 13px;
    padding: 10px 15px;
    box-sizing: border-box;
}
.header-bottom .row .search-box > form > button{
    position: absolute;
    top: 0px;
    right: 0;
    padding: 5px 8%;
    border-radius: 0 20px 20px 0;
    border: 1px solid #f48220;
    background-color: #f48220;
}
.header-bottom .row .search-box.search-box-bg > form > button ion-icon{
    color: #ffffff;
    font-size: 20px;
}
.header-bottom .row .header-user-shortcut ul li{
    display: inline-block;
    position: relative;
    margin-left: 15px;
}
.header-bottom .row .header-user-shortcut ul li:nth-child(1){
    display: none;
}
.header-bottom .row .header-user-shortcut ul li > a{
    padding: 8px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.header-bottom .row  .header-user-shortcut ul li > a > ion-icon{
    font-size: 20px;
    --ionicon-stroke-width: 30px;
    color: rgb(44, 44, 44);
}
.header-bottom .row  .header-user-shortcut ul li:hover a{
    background-color: #f48220;
}
.header-bottom .row  .header-user-shortcut ul li:hover > a > ion-icon{
    color: #fff;
}
.header-bottom .row  .header-user-shortcut ul li:hover .tag-view{
    opacity: 1;
    visibility: visible;
}
.header-bottom .row .header-user-shortcut ul li > div{
    position: absolute;
    text-align: left;
}
.header-bottom .row .header-user-shortcut ul li .tag-view{
    opacity: 0;
    visibility: hidden;
    height: auto;
    z-index: 3;
    top: 120%;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    transition: opacity 0.1s ease;
}
.header-bottom .row .header-user-shortcut ul li .tag-view.tag-cart{
    width: 400px;
    transform: translateX(-77%);
}
.header-bottom .row .header-user-shortcut ul li .tag-view.tag-account{
    width: 200px;
    transform: translateX(-81%);
}
.header-bottom .row .header-user-shortcut ul li .tag-account::after,
.header-bottom .row .header-user-shortcut ul li .tag-cart::after{
    position: absolute;
    content: '';
    height: 20px;
    width: 40px;
    background: transparent;
    right: 53px;
    top: -20px;
    border-radius: 3px;
}
.header-bottom .row .header-user-shortcut ul li .tag-account::after{
    right: 0px;
}
.header-bottom .row .header-user-shortcut ul li .tag-account::before,
.header-bottom .row .header-user-shortcut ul li .tag-cart::before{
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background: #fff;
    top: -5px;
    right: 68px;
    transform: rotate(45deg);
}
.header-bottom .row .header-user-shortcut ul li .tag-account::before{
    right: 12px;
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .list-item-cart{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .list-item-cart .item-cart{
    display: flex;
    width: 100%;
    cursor: pointer;
    justify-content: space-between;
    padding: 5px 10px;
    transition: all 0.2s;
    margin: 2px 0;
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .list-item-cart .item-cart:hover{
    background: var(--bacground-page);
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .list-item-cart .item-cart .infor-item-cart{
    flex: 0 0 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .list-item-cart .item-cart .infor-item-cart span{
    font-size: var(--font-size-text);
    color: var(--color-text);
    font-weight: 600;
    line-height: 1rem;
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .list-item-cart .item-cart .infor-item-cart div{
    margin-top: 7px;
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .list-item-cart .item-cart .infor-item-cart div span{
    padding: 2px 7px;
    width: auto;
    border: 1px solid rgb(0, 0, 0, 0.3);
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .list-item-cart .item-cart .price-item-cart{
    flex: 0 0 30%;
    width: 100%;
    text-align: right;
    font-size: var(--font-size-text);
    font-weight: 700;
    color: var(--color-button);
    text-transform: uppercase;
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .list-item-cart .item-cart img{
    flex: 0 0 20%;
    max-width: 50px;
    max-height: 50px;
}
.header-bottom .row .header-user-shortcut ul li .tag-cart h6{
    font-size: var(--font-size-title);
    font-weight: 600;
    color: var(--color-title);
    text-transform: uppercase;
    padding: 10px;
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .tag-cart-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .tag-cart-bottom > div{
    flex: 0 0 50%;
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .tag-cart-bottom .cart-total{
    padding: 0 10px;
} 
.header-bottom .row .header-user-shortcut ul li .tag-cart .tag-cart-bottom .cart-total h6{
    padding: 0;
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .tag-cart-bottom .cart-total h4{
    font-size: var(--font-size-label);
    font-weight: 700;
    color: var(--color-button);
    text-transform: uppercase;
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .tag-cart-bottom button{
    padding: 10px 20px;
    float: right;
    cursor: pointer;
    background-color: var(--color-button);
    font-size: var(--font-size-title);
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}
.header-bottom .row .header-user-shortcut ul li .tag-cart .tag-cart-bottom button:hover{
    background-color: var(--color-hover-button);
}
/* header-bottom */
.container{
    position: relative;
    display: block;
    max-width: var(--max-with-page);
    margin: auto;
    padding: 1rem 0;
}
/* Modal */
@keyframes fadeInModal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--modal-growth-from));
    }
    to{
        transform: scale(var(--modal-growth-to));
    }
}
.modal{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    animation: fadeInModal linear 0.1s;
}
.modal .modal-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.modal .modal-container{
    position: relative;
    background: #fff;
    margin: auto;
    border-radius: 5px;
    padding: 1rem;
    --modal-growth-from: 0.7;
    --modal-growth-to: 1;
    animation: growth linear 0.1s;
}
.modal .modal-container.w-40{
    width: 50%;
}
.modal .modal-container .modal-header{
    width: 100%;
    height: auto;
    border-bottom: 0.05em solid #dbdbdb;
    padding-bottom: 1rem;
}
.modal .modal-container .modal-header.modal-item-center{
    align-items: center;
    text-align: center;
}
.modal .modal-container .modal-header h4{
    font-size: var(--font-size-label);
    font-weight: 700;
    color: var(--color-title);
    text-transform: uppercase;
}
.modal .modal-container .modal-content{
    padding: 1rem 0;
    width: 100%;
    height: auto;
    border-bottom: 0.05em solid #dbdbdb;
}
.modal .modal-container .modal-footer{
    width: 100%;
    height: auto;
    padding-top: 1rem;
}
.modal .modal-container .modal-content .product-modal{
    width: 100%;
}
.modal .modal-container .modal-content .product-modal .row{
    display: inline-flex;
    width: 100%;
}
.modal .modal-container .modal-content .product-modal .row > div:nth-child(1){
    flex: 0 0 60%;
}
.modal .modal-container .modal-content .product-modal .row > div:nth-child(2){
    flex: 0 0 40%;
}
.modal .modal-container .modal-content .product-modal .row .column{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.modal .modal-container .modal-content .product-modal .row .column > div:nth-child(1){
    margin-bottom: 1rem;
}
.modal .modal-container .modal-content .product-modal .row .column:nth-child(2){
    justify-content: center;
}
.modal .modal-container .modal-content .product-modal .row .column > label{
    font-size: var(--font-size-title);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-title);
}
.modal .modal-container .modal-content .product-modal .row .column > h4{
    font-size: 22px;
    line-height: 40px;
    font-weight: 700;
    margin: 0px 8px 0px 0px;
    color: var(--color-hover-button);
}
.modal .modal-container .modal-footer .row{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.modal .modal-container .modal-footer .row > div{
    flex: 0 0 50%;
}
.modal .modal-container .modal-footer .row > div:nth-child(2) > span{
    background: #fff;
    color: var(--color-text);
    border: 1px solid rgb(0,0,0,0.2);
    transition: all 0.1s;
}
.modal .modal-container .modal-footer .row > div:nth-child(2) > span:hover{
    background: var(--bacground-page);
    border: 1px solid transparent;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.modal .modal-container .modal-footer .row > div:nth-child(1) > span:hover{
    box-shadow: 0 2px 6px 0 var(--color-hover), 0 2px 10px 0 var(--color-hover-button);
}
.modal .modal-container .modal-footer .row > .add-to-cart{
    border: none;
    padding: 0 !important;
}
.modal-success{
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}
.modal-success .modal-success-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.3);
}
.modal-success .modal-container{
    position: relative;
    width: 250px;
    height: 250px;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    --modal-growth-from: 0.7;
    --modal-growth-to: 1;
    animation: growth linear 0.1s;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-success .modal-container > *{
    margin: 10px 0; 
}
.modal-success .modal-container img{
    width: 80px;
}
.modal-success .modal-container span{
    font-size: var(--font-size-text);
    font-weight: 500;
    color: #fff;
}
.modal-success .modal-container button{
    font-size: var(--font-size-text);
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    background: var(--color-button);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
.modal-success .modal-container button:hover{
    background: var(--color-hover-button);
}
/* Modal */
/* Slider */
.slider .swiper-container {
    width: 100%;
    height: auto;
}
.slider .swiper-container .swiper-slide{
    background-color: #ccc;
    padding-top: 40%;
    position: relative;
}
.slider .swiper-container .swiper-slide img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
}
/* Slider */
/* Product */
.product{
    margin-top: 1rem;
}
.product .row{
    display: flex;
    width: 100%;
}
/* col-md-3 */
.product .row .col-md-3 .product-header{
    display: inline-flex;
    align-items: center;
    width: 100%;
    color: rgb(0,0,0,0.8);
    border-bottom: 1px solid rgb(0,0,0,0.1);
    line-height: 2.4rem;
    padding-bottom: 10px;
}
.product .row .col-md-3 .product-header ion-icon{
    font-size: 20px;
    vertical-align: text-top;
    padding-right: 10px;
}
.product .row .col-md-3 .product-header span{
    font-size: var(--font-size-label);
    text-transform: capitalize;
    font-weight: 700;
}
.product-sidebar ul{
    list-style: none;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    position: relative;
}
.product-sidebar ul li, .product-sidebar ul ul li{
    line-height: 40px;
    cursor: pointer;
    padding: 0 5px 0 15px;
    z-index: 2;
}
.product-sidebar ul li:hover{
    background: #dbdbdb;
}
.product-sidebar ul li .sub-menu{
    visibility: hidden;
    background: var(--bacground-page);
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s;
}
.product-sidebar ul li a, .product-sidebar ul li span, .product-sidebar ul ul li a{
    color: var(--color-text);
    font-size: var(--font-size-title);
    font-weight: 600;
    padding: 5px;
    line-height: 1.125rem;
}
.product-sidebar ul li ion-icon{
    font-size: 16px;
    float: right;
    margin-top: 10px;
    transition: 0.5s
}
.product-sidebar ul li ion-icon.rotate{
    transform: rotate(90deg);
}
/* col-md-3 */
/* col-md-9 */
.product .row .col-md-9 .row{
    width: 100%;
    height: auto;
    display: inline-block;
}
.product .row .col-md-9 .toolbar .row{
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 2.5rem;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(34, 34, 34, 0.1);
    margin-bottom: 15px;
}
.product .row .col-md-9 .toolbar .row .filters label{
    padding: 10px 0;
    font-size: var(--font-size-text);
    color: var(--color-text);
    font-weight: 600;
}
.product .row .col-md-9 .toolbar .row .filters select{
    padding: 5px;
    border-radius: 3px;
    width: 150px;
}
.product .row .col-md-9 .toolbar .row .modes{
    display: flex;
    font-size: 24px;
    background-color: gray;
    border-radius: 2px;
}
.product .row .col-md-9 .toolbar .row .modes span{
    display: flex;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    color: white;
}
.product .row .col-md-9 .toolbar .row .modes span.active{
    background-color: rgb(100, 149, 237);
    border-radius: 2px;
}
.product .row .col-md-9 .toolbar .row .modes span:hover{
    background-color: rgb(86, 134, 224);
    border-radius: 2px;
}
.product .row .col-md-9 .product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 14rem));
    align-content: space-between;
    justify-content: center;
    -webkit-box-align: start;
    grid-gap: 1rem 0.5rem;
}
.product-item{
    width: 100%;
    display: block;
    padding: 5px;
    border: 1px solid transparent;
    background-color: #fff;
    transition: all 0.2s;
}
.product-item .row{
    display: flex !important;
    position: relative;
    justify-content: center;
    flex-direction: column;
    padding: 3px 5px 5px 5px;
}
.product-item:hover{
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgb(0,0,0,0.1);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.product-item .row .img-product-item{
    object-fit: contain;
}
.product-item .row .img-product-item img{
    width: 100%;
    min-height: 200px;
    max-height: 200px;
}
.product-item .row .content-product-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product .row .col-md-9 .product-list.list-column .product-item .row .content-product-item,
.product .row .col-md-9 .product-list.list-column .product-item .row .product-item-bottom{
    justify-content: flex-start;
    padding-left: 20px;
}
.product-item .row .content-product-item div{
    color: var(--color-text);
    padding: 3px 0;
    text-align: center;
}
.product .row .col-md-9 .product-list.list-column .product-item .row .content-product-item div{
    text-align: start;
}
.product-item .row .content-product-item > div:nth-child(1){
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-item .row .content-product-item span{
    font-size: var(--font-size-text);
    font-weight: 400;
}
.product-item .row .content-product-item ion-icon{
    color: rgb(226, 226, 1);
    font-size: 16px;
    vertical-align: text-top;
}
.product-item .row .product-item-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product .row .col-md-9 .product-list.list-column .product-item .row .product-item-bottom{
    align-items: flex-start;
}
.product-item .row .content-product-item .price-product span{
    font-size: var(--font-size-label);
    line-height: 40px;
    font-weight: 700;
    margin: 0px 8px 0px 0px;
    color: var(--color-title);
}
.product-item .row .action-product-item button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    background: var(--color-button);
    color: #fff;
    cursor: pointer;
}
.product-item .row .action-product-item button:hover{
    background: #f53d2d;
}
.product-item .row .action-product-item button span{
    font-size: var(--font-size-label);
}
.product .row .col-md-9 .product-list.list-column{
    display: flex;
    flex-direction: column;
}
.product .row .col-md-9 .product-list.list-column .product-item .row{
    flex-direction: row;
    justify-content: space-between;
}
.product .row .col-md-9 .product-list.list-column .product-item .row .img-product-item{
    flex: 0 0 25%;
}
.product .row .col-md-9 .product-list.list-column .product-item .row .content-product-item{
    flex: 0 0 50%;
}
.product .row .col-md-9 .product-list.list-column .product-item .row .product-item-bottom{
    flex: 0 0 25%;
    padding-right: 1rem;
    align-items: center;
}
.product .row .col-md-9 .product-list.list-column .product-item .row .img-product-item img{
    width: 80%;
}
/* col-md-9 */
/* Product */
/* product-detail */
.product-detail{
    display: inline-flex;
    width: 100%;
    height: auto;
}
.product-detail .col-md-6{
    flex: 0 0 50%;
}
.product-detail .col-md-6 .product-image{
    position: relative;
    width: 100%;
    height: 400px;
}
/*  */
.product-detail .col-md-6 .product-image .swiper-container {
    position: absolute;
}
.product-more > div:nth-child(1){
    display: flex;
    justify-content: space-between;
}
.product-more > div:nth-child(1) > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-more > div:nth-child(1) > div > div{
    display: flex;
}
.product-more > div:nth-child(1) > div ion-icon{
    font-size: 30px;
}
.product-more > div:nth-child(1) > div ion-icon:nth-child(1){
    margin-right: 0.2rem;
}
.product-detail .col-md-6 .product-image .swiper-slide,
.product-more .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.product-more .swiper-wrapper{
    min-width: 100%;
}
.product-detail .col-md-6 .product-image .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-detail .col-md-6 .product-image .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.product-detail .col-md-6 .product-image .swiper-slide {
    background-size: cover;
    background-position: center;
}
.product-detail .col-md-6 .product-image .mySwiper2 {
    height: 80%;
    width: 100%;
    padding: 10px;
}
.product-detail .col-md-6 .product-image .swiper-button{
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: auto;
    z-index: 2;
}
.product-detail .col-md-6 .product-image .swiper-button .swiper-button-next{
    position: absolute;
    right: 10px;
}
.zoomContainer,
.zoomWindow{ 
    z-index: 2;
}
.product-detail .col-md-6 .product-image .mySwiper {
    bottom: 0%;
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
}
.product-detail .col-md-6 .product-image .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.product-detail .col-md-6 .product-image .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}
.product-detail .col-md-6 .product-image .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*  */
.product-detail .col-md-6 .product-infor{
    padding: 0 15px;
}
.product-detail .col-md-6 .product-infor > div{
    padding: 5px;
}
.product-detail .col-md-6 .product-infor > div:nth-child(2) > div{
    padding: 5px 0;
}
.product-detail .col-md-6 .product-infor > div:last-child{
    margin-top: 10px;
}
.product-detail .col-md-6 .product-infor .product-title span{
    font-size: var(--font-size-label);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-title);
}
.product-detail .col-md-6 .product-infor .product-price{
    border-bottom: 1px solid rgb(0,0,0,0.1);
}
.product-detail .col-md-6 .product-infor .product-price span{
    font-size: 18px;
}
.product-detail .col-md-6 .product-infor .product-price .price-label{
    font-weight: 700;
    color: var(--color-button);
}
.product-detail .col-md-6 .product-infor .product-price .price{
    font-weight: 600;
    text-decoration: line-through;
    margin-left: 0.6rem;
}
.product-amount,
.product-flavor{
    font-size: var(--font-size-title);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-title);
}
.product-amount input{
    padding: 5px 10px;
    width: 100px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgb(0, 0, 0, 0.1);
    margin: 0 10px;
    font-size: var(--font-size-label);
}
.product-amount .nice-number button{
    border-radius: 3px;
    padding: 0 13px;
    background: #fff;
    border: none;
    box-shadow: 0 1px 3px rgb(0, 0, 0, 0.1);
    font-size: 22px;
    cursor: pointer;
}
.product-amount .nice-number button:hover{
    background: rgb(0, 0, 0, 0.1);
}
.product-flavor select{
    min-width: 150px;
    max-width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0, 0.1);
}
.add-to-cart{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 0 !important;
    border-top: 1px solid rgb(0,0,0,0.1);
}
.add-to-cart span{
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--color-button);
    font-size: var(--font-size-label);
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    transition: background-color 0.3s;
}
.add-to-cart span:hover{
    background-color: var(--color-hover-button);
}
.product-detail .col-md-6 .product-infor .product-action{
    display: inline-flex;
}
.product-detail .col-md-6 .product-infor .product-action ion-icon{
    font-size: 22px;
    --ionicon-stroke-width: 40px;
    cursor: pointer;
}
.product-detail .col-md-6 .product-infor .product-action .action-like ion-icon{
    color: var(--color-button);
    margin-left: 10px;
}
.product-detail .col-md-6 .product-infor .product-action .action-share{
    position: relative;
    margin-left: 10px;
}
.product-detail .col-md-6 .product-infor .product-action .action-share ul{
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 3px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    transform: translateX(-38%);
    transition: all 0.3s;
}
.product-detail .col-md-6 .product-infor .product-action .action-share:hover ul{
    visibility: visible;
    opacity: 1;
}
.product-detail .col-md-6 .product-infor .product-action .action-share ul::before{
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background: #fff;
    top: -5px;
    transform: rotate(45deg);
}
.product-detail .col-md-6 .product-infor .product-action .action-share ul li{
    padding: 5px 10px 0 10px;
    height: auto;
}
/* product-detail */
/* product-infor-detail */
.product-infor-detail{
    width: 100%;
    margin-top: 2rem;
    border-left: 1px solid rgb(0, 0, 0, 0.1);
}
.product-infor-detail nav{
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--bacground);
}
.product-infor-detail nav label{
    display: block;
    height: auto;
    text-align: center;
    list-style: 1rem;
    cursor: pointer;
    font-size: var(--font-size-label);
    font-weight: 600;
    color: var(--color-title-footer);
    text-transform: uppercase;
    padding: 5px 20px;
    z-index: 1;
}
.product-infor-detail  input[type=radio]{
    display: none;
}
#home:checked ~ nav .home,
#rated:checked ~ nav .rated,
#product-accompanying:checked ~ nav .product-accompanying{
    background: var(--color-hover);
}
.product-infor-detail section .content{
    display: none;
    padding: 1rem;
    background: #fff;
}
#home:checked ~  section .content-1,
#rated:checked ~ section .content-2,
#product-accompanying:checked ~ section .content-3{
    display: block;
}
/* product-infor-detail */
/* product-more */
.product-more{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 2rem;
}
.product-more h6{
    font-size: var(--font-size-label);
    font-weight: 600;
    color: var(--color-title);
    text-transform: uppercase;
    line-height: 2rem;
}
.product-more .swiper-container{
    max-width: 100%;
}
.product-more .swiper-container.mySwiperProductMore{
    position: absolute;
}
/* product-more */
/* footer */
footer{
    width: 100%;
    background: var(--bacground);
}
footer .row{
    display: flex;
    flex-wrap: wrap;
    max-width: var(--max-with-page);
    margin: auto;
}
footer .row .col-md-4{
    flex: 0 0 33.33%;
    padding: 10px;
    min-width: 300px;
}
footer .row .col-md-6{
    flex: 0 0 50%;
    padding: 10px;
}
footer .row  h6{
    font-size: var(--font-size-title);
    font-weight: 600;
    color: var(--color-title-footer);
    text-transform: uppercase;
    line-height: 2rem;
}
footer .row ul li div{
    display: inline-flex;
    align-items: center;
    line-height: 1.5rem;
    cursor: pointer;
    transition: all 0.2s;
}
footer .row ul li div:hover{
    color: #f48220;
}
footer .row ul li div ion-icon{
    font-size: var(--font-size-title);
    color: var(--color-text-footer);
    margin-right: 15px;
}
footer .row ul li div span{
    font-size: var(--font-size-text);
    color: var(--color-text-footer);
    font-weight: 500;
}
footer .row .infor .boss{
    margin-top: 15px;
    font-size: var(--font-size-title);
    color: var(--color-text-footer);
    font-weight: 500;
}
footer .row .infor .infor-social h6{
    margin-top: 10px;
}
footer .row .infor .infor-social .list-icon-social{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 5px 0;
}
footer .row .infor .infor-social .list-icon-social img{
    width: 40px;
    padding: 8px;
    background: #fff;
    border-radius: 100%;
    margin-right: 20px;
    cursor: pointer;
}
footer .row .social .bank .list-bank{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 5px 0;
    flex-wrap: wrap;
}
footer .row .social .bank .list-bank img{
    width: 50px;
    margin-right: 20px;
    padding: 5px;
}
footer .row .social .receive-news h6{
    margin-top: 1.2rem;
}
footer .row .map iframe{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
footer .row .social .bank .input-email-footer{
    position: relative;
    width: 86%;
}
footer .row .social .bank .input-email-footer input[type=text]{
    border-radius: 20px;
    padding: 10px 22% 10px 20px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    width: 100%;
}
footer .row .social .bank .input-email-footer button{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    border: 1px solid #f48220;
    cursor: pointer;
    background: #f48220;
}
footer .row .social .bank  .input-email-footer button span{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-title-footer);
}
footer .footer-bottom{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px;
    color: var(--color-text-footer);
    background: rgb(34, 34, 34, 0.1);
}
/* footer */
/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* tooltip */
/* my-cart */
.my-cart .header-cart,
.my-cart .my-cart-list .my-cart-list-item{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 9px 16px;
    background: #fff;
    border-radius: 4px;
    margin: 2px 0;
    
    transition: border 0.2s;
}
.my-cart .header-cart,
.cart-total-prices{
    position: sticky;
    top: 60px;
    z-index: 2;
}
.my-cart .header-cart{
    border-top: 20px solid var(--bacground-page);
    border-bottom: 10px solid var(--bacground-page);
}
.cart-total-prices{
    border-top: 20px solid var(--bacground-page);
}
.my-cart .my-cart-list .my-cart-list-item{
    border: 1px solid transparent;
}
.my-cart .my-cart-list .my-cart-list-item:hover{
    border: 1px solid var(--color-button);
}
.my-cart .header-cart span{
    padding: 0 10px;
    font-size: var(--font-size-text);
    color: var(--color-text);
    font-weight: 600;
    text-transform: none;
}
.my-cart .product-action{
    flex: 0 0 3%;
    min-width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-cart .checker > input,
.my-cart .product-action{
    cursor: pointer;
}
.my-cart .product-image{
    flex: 0 0 10%;
}
.my-cart .product-action > ion-icon{
    font-size: 16px;
    --ionicon-stroke-width: 50px;
}
.my-cart .header-cart > div:nth-child(2),
.my-cart .my-cart-list .my-cart-list-item > div:nth-child(2){
    flex: 0 0 71%;
    display: flex;
    align-items: center;
}
.my-cart .header-cart > div:nth-child(2) .product-infor,
.my-cart .my-cart-list .my-cart-list-item > div:nth-child(1) .product-infor{
    flex: 0 0 33%;
}
.my-cart .header-cart > div:nth-child(2) .product-flavor,
.my-cart .my-cart-list .my-cart-list-item > div:nth-child(2) .product-flavor{
    flex: 0 0 25%;
}
.my-cart .header-cart > div:nth-child(2) .product-unit-price,
.my-cart .my-cart-list .my-cart-list-item > div:nth-child(2) .product-unit-price{
    flex: 0 0 22%;
}
.my-cart .header-cart > div:nth-child(2) .product-amount,
.my-cart .my-cart-list .my-cart-list-item > div:nth-child(2) .product-amount{
    flex: 0 0 20%;
}
.my-cart .product-total{
    flex: 0 0 16%;
}
.my-cart .my-cart-list .my-cart-list-item .product-infor{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
}
.my-cart .my-cart-list .my-cart-list-item .product-image img{
    width: 100%;
}
.my-cart .my-cart-list .my-cart-list-item .product-infor h6{
    flex: 0 0 70%;
    padding: 0 10px;
    font-size: var(--font-size-text);
    font-weight: 500;
    color: var(--color-title);
    text-transform: capitalize;
}
.my-cart .my-cart-list .my-cart-list-item .product-flavor select{
    font-size: var(--font-size-title);
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.my-cart .my-cart-list .my-cart-list-item .product-unit-price span,
.my-cart .my-cart-list .my-cart-list-item .product-total span{
    padding: 0 10px;
    font-size: var(--font-size-text);
    font-weight: 500;
    color: var(--color-button);
    text-transform: uppercase;
}
.my-cart .my-cart-list .my-cart-list-item .product-amount button{
    font-size: 16px;
    padding: 0 8px;
}
.my-cart .my-cart-list .my-cart-list-item .product-amount input{
    margin: 0;
    font-size: var(--font-size-title);
    padding: 5px 3px;
}
.cart-total-prices{
    margin-left: 1rem;
    
}
.cart-total-prices > div:not(:last-child){
    padding: 9px 16px;
    background: #fff;
    border-radius: 4px;
}
.cart-total-prices .cart-user-infor .cart-user-infor-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cart-total-prices .cart-user-infor .cart-user-infor-title h6{
    font-size: var(--font-size-text);
    font-weight: 500;
    color: var(--color-title);
}
.cart-total-prices .cart-user-infor .cart-user-infor-title a{
    font-size: 11px;
}
.cart-total-prices .cart-user-infor .cart-user-infor-content{
    margin-top: 0.5rem;
}
.cart-total-prices .cart-user-infor .cart-user-infor-content span{
    font-size: var(--font-size-text);
    font-weight: 600;
    color: var(--color-title);
}
.cart-total-prices .cart-price{
    margin-top: 15px;
}
 .cart-item-price{
    padding-bottom: 20px;
}
.cart-total-prices .cart-price .cart-total-price > div,
.cart-total-prices .cart-price .cart-item-price > div{
    display: flex;
    justify-content: space-between;
}
.cart-total-prices .cart-price .cart-item-price > div:nth-child(2){
    margin-top: 0.5rem;
}
.cart-total-prices .cart-price .cart-total-price .price-total > span,
.cart-total-prices .cart-price .cart-item-price > div > span:nth-child(1){
    font-size: var(--font-size-text);
    font-weight: 500;
}
.cart-total-prices .cart-price .cart-item-price > div > span:nth-child(2){
    font-size: var(--font-size-text);
    font-weight: 600;
    color: var(--color-title);
}
.cart-total-prices .cart-price hr{
    border: 1px solid rgb(244, 244, 244);;
}
.cart-total-prices .cart-price .cart-total-price{
    padding-top: 10px;
}
.cart-total-prices .cart-price .cart-total-price > div > span:nth-child(2){
    font-size: var(--font-size-label);
    font-weight: 600;
    color: var(--color-button);
    text-transform: uppercase;
}
.cart-total-prices .cart-btn-buying{
    margin-top: 1rem;
}
.cart-total-prices .cart-btn-buying button{
    padding: 20px 20px;
    width: 100%;
    cursor: pointer;
    background-color: var(--color-button);
    font-size: var(--font-size-label);
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    border: none;
    transition: all 0.3s;
}
.cart-total-prices .cart-btn-buying button:hover{
    background-color: var(--color-hover-button);
    box-shadow: 0 2px 6px 0 var(--color-hover), 0 2px 10px 0 var(--color-hover-button);
}
/* my-cart */
@media (min-width: 992px){
    .product-sidebar ul li:hover .sub-menu{
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }
    .product-sidebar ul li{
        position: relative;
    }
}
@media all and (max-width: 991px){
    .header-top .row{
        justify-content: center;
    }
    .header-top .row .hotline{
        display: none;
    }
    .header-bottom .row{
        padding: 0 10px;
    }
    .fixed-nav .row .header-top{
        flex: 0 0 25%;
    }
    .fixed-nav .row .header-bottom{
        flex: 0 0 75%;
    }
    .fixed-nav .row .header-top .row nav{
        flex: 0 0 0%;
        position: fixed;
        left: 0;
        top: 0;
        min-width: 300px;
        transform: translateX(-100%);
        z-index: 3;
        background: #fff;
        height: 100%;
        transition: all 0.3s;
    }
    .fixed-nav .row .header-top .row nav.active{
        transform: translateX(0);
    }
    .fixed-nav .row .header-top .row nav ul li{
        display: block;
        padding: 5px 0;
    }
    .fixed-nav .row .header-top .row nav ul li a{
        color: var(--color-text);
    }
    .fixed-nav .row .header-bottom .row .search-box.search-box-bg{
        top: 118%;
    }
    .fixed-nav .row .header-bottom .row .header-user-shortcut{
        flex: 1;
    }
    .fixed-nav .row .header-bottom .row{
        flex-direction: row-reverse;
    }
    .header-bottom .row .search-box.search-box-bg.active{
        display: block;
    }
    .header-bottom .row{
        justify-content: space-between;
    }
    .header-bottom .row .btn-toggler{
        display: block;
    }
    .fixed-nav .row  .header-bottom .row .btn-toggler{
        display: block;
        margin-left: 15px;
    }
    .product .row{
        flex-direction: column;
    }
    footer .row{
        justify-content: center;
    }
    footer .row .col-md-4{
        flex: 0 0 50%;
    }
    .header-bottom .row  .header-user-shortcut ul li:nth-child(1){
        display: inline-block;
    }
    .header-bottom .row .search-box.search-box-bg{
        position: absolute;
        width: 80%;
        top: 100%;
        display: none;
    }
    .header-bottom .row .search-box{
        flex: 0 0 75%;
    }
    .header-bottom .row .header-user-shortcut{
        flex: 1 0 25%;
    }
    .header-top .row nav{
        flex: 0 0 0%;
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        transform: translateX(-100%);
        z-index: 3;
        background: #fff;
        height: 100%;
        transition: all 0.3s;
    }
    .header-top .row nav.active{
        transform: translateX(0);
    }
    .header-bottom .row .search-box{
        flex: 0 0 0%;
        z-index: 2;
    }
    .header-bottom .row .header-user-shortcut{
        flex: 0 0 80%;
    }
    .header-top .row nav ul li{
        display: block;
        padding: 5px 0;
    }
    .header-top .row nav .action-sidebar, .product-sidebar .action-sidebar{
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid rgb(0,0,0,0.1);
        align-items: center;
    }
    .header-top .row nav .action-sidebar, .product-sidebar .action-sidebar h6{
        font-size: var(--font-size-title);
        font-weight: 600;
        color: var(--color-title);
        text-transform: uppercase;
    }
    .header-top .row nav .action-sidebar ion-icon, .product-sidebar .action-sidebar ion-icon{
        font-size: 25px;
        line-height: 2rem;
        padding: 10px;
    }
    .header-top .row nav .action-sidebar .back-sidebar ion-icon, .product-sidebar .action-sidebar .back-sidebar ion-icon{
        display: none;
    }
    .header-top .row nav .action-sidebar .back-sidebar, .product-sidebar .action-sidebar .back-sidebar{
        border-right: 1px solid rgb(0,0,0,0.1);
    }
    .header-top .row nav .action-sidebar .close-sidebar, .product-sidebar .action-sidebar .close-sidebar{
        border-left: 1px solid rgb(0,0,0,0.1);
    }
    .header-top .row nav .action-sidebar .back-sidebar:hover, .product-sidebar .action-sidebar .back-sidebar:hover,
    .header-top .row nav .action-sidebar .close-sidebar:hover, .product-sidebar .action-sidebar .close-sidebar:hover{
        cursor: pointer;
        background-color: var(--bacground-page);
    }
    .product .row .col-md-9 .product-list{
        justify-content: center;
    }
    /* sidebar */
    .product .row .col-md-3{
        padding-right: 10px;
    }
    .product .row .col-md-3 .product-header{
        justify-content: center;
    }
    .product .row .col-md-3 .product-header > div{
        padding: 3px 10px;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
    .product-sidebar{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        min-width: 300px;
        height: 100%;
        z-index: 3;
        overflow: hidden;
        transform: translate(-100%);
        transition: transform 0.3s;
    }
    .product-sidebar.active{
        transform: translate(0);
    }
    .product-sidebar .product-sidebar-menu{
        transform: translate(-100%);
    }
    .product-sidebar ul{
        height: 100%;
    }
    .product-sidebar ul li ul{
        position: relative;
    }
    .product-sidebar ul li .sub-menu{
        position: absolute;
        visibility: visible;
        opacity: 1;
        box-shadow: none;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        min-width: auto;
        display: none;
        transform: translateX(0%);
        overflow-y: auto;
    }
    .product-sidebar ul li .sub-menu.active{
        display: block;
    }
    @keyframes slideLeft {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }
    @keyframes slideRight {
        0% {
            opacity: 1;
            transform: translateX(0%);
        }
        100% {
            opacity: 0;
            transform: translateX(100%);
        }
    }
    .cover{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }
    /* sidebar */
    .modal .modal-container .modal-content .product-modal .row{
        flex-wrap: wrap;
    }
    .modal .modal-container .modal-content .product-modal .row > div{
        flex: 0 0 100% !important;
    }
    .modal .modal-container .modal-content .product-modal .row > div:nth-child(1){
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    }
    
    .modal .modal-container .modal-content .product-modal .row > div:nth-child(2){
        padding-top: 1rem;
    }

    .col-md-4{
        margin-top: 1rem;
    }
    .cart-total-prices{
        margin-left: 0;
    }
}
@media (max-width: 491px){
    .product-more .mySwiperProductMore .swiper-slide .product-item{
        width: 70%;
    }
    .modal .modal-container.w-40{
        width: 90%;
    }
    .modal .modal-container .modal-footer .row{
        flex-wrap: wrap;
    }
    .modal .modal-container .modal-footer .row > div{
        flex: 0 0 100%;
    }
    .modal .modal-container .modal-footer .row > div:nth-child(1){
        margin-bottom: 1rem;
    }
    .modal .modal-container .modal-footer .row > div:nth-child(1) > a > span{
        padding: 12px 25px !important;
    }
    .header-bottom .row .header-user-shortcut ul li .tag-view.tag-cart{
        width: 350px;
    }
    .header-bottom .row .header-user-shortcut ul li .tag-view.tag-cart{
        transform: translateX(-70%);
    }
    .header-bottom .row .header-user-shortcut ul li .tag-cart::after{
        right: 67px;
    }
    .header-bottom .row .header-user-shortcut ul li .tag-cart::before{
        right: 80px;
    }
}
@media all and (max-width: 768px){
    .product-detail{
        flex-wrap: wrap;
    }
    .product-detail .col-md-6{
        flex: 0 0 100%;
    }
    .zoomContainer,
    .zoomWindow{
        display: none;
    }
    .modal .modal-container.w-40{
        width: 84%;
    }
}
@media (min-width: 991px) and (max-width: 1110px){
    .product .row .col-md-3{
        flex: 0 0 22%;
    }
    .product .row .col-md-9{
        flex: 0 0 78%;
    }
}

/* responsive cho bảng giỏ hàng */
@media all and (max-width: 861px){
    .my-cart .header-cart,
    .my-cart .my-cart-list .my-cart-list-item{
        padding-left: 3px;
    }
    
    .my-cart .product-image{
        flex: 0 0 24%;
    }
    .my-cart .header-cart > div:nth-child(2) .product-flavor,
    .my-cart .header-cart > div:nth-child(2) .product-unit-price,
    .my-cart .header-cart > div:nth-child(2) .product-amount{
        display: none;
    }
    .my-cart .header-cart > div:nth-child(2),
    .my-cart .my-cart-list .my-cart-list-item > div:nth-child(2){
        flex: 0 0 41%;
        flex-direction: column;
        align-items: flex-start;
    }

    .my-cart .my-cart-list .my-cart-list-item > div:nth-child(2){
        text-align: left;
    }
    .product-flavor select{
        min-width: 80px;
        padding: 5px;
    }
    .my-cart .product-total{
        flex: 0 0 30%;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .my-cart .product-action{
        flex: 0 0 5%;
    }
    .my-cart .my-cart-list .my-cart-list-item .product-infor h6{
        flex: 0 0 100%;
        padding-left: 0;
    }
    .my-cart .my-cart-list .my-cart-list-item div div{
        margin: 2px 0;
    }

    .my-cart .header-cart > div:nth-child(2),
    .my-cart .my-cart-list .my-cart-list-item > div:nth-child(2){
        flex-direction: column;
    }
    .my-cart .my-cart-list .my-cart-list-item .product-unit-price span, .my-cart .my-cart-list .my-cart-list-item .product-total span{
        padding-left: 0;
    }
    .my-cart .my-cart-list .my-cart-list-item > div:nth-child(2) .product-unit-price{
        white-space: nowrap; 
        width: 110px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}