@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
*, ::before, ::after{
    box-sizing: border-box;
}
:root{
    --color-nav: rgb(34, 34, 34);
    --color-title: rgb(36, 36, 36);
    --color-title-footer: rgb(255, 255, 255);
    --color-text-footer: rgb(217, 217, 217);
    --color-text: #000000CC;
    --color-hover: #f48220;
    --font-size-title: 14px;
    --font-size-label: 16px;
    --font-size-text: 14px;
    --max-with-page: 1200px;
    --bacground: linear-gradient(rgb(63, 77, 84), rgb(51, 68, 102));
    --bacground-a6: linear-gradient(rgb(63, 77, 84, 0.6), rgb(51, 68, 102, 0.3));
    --bacground-page: #f5f5f5;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: rgb(125, 125, 125);
    line-height: 1.5;
    background-color: var(--bacground-page);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.text-align-left{
    text-align: left;
}
.text-align-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}
.align-item-center{
    align-items: center;
}
input:focus, select:focus{
    outline: none;
}
/* loading */
#loading-page{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 5;
}
#loading-page.hide{
    z-index: -1;
}
#loading-page div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 156px;
    height: 156px;
    border: 1px solid rgb(0,0,0,0.7);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    position: relative;
}
#loading-page div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-label);
}
/* loading */
/* fixed-nav */
.fixed-nav{
    position: fixed; 
    z-index: 3;
    width: 100%;
    background: var(--bacground);
    top: -80%;
    transition: all 0.3s;
}
.fixed-nav .row{
    display: flex;
    position: relative;
    max-width: var(--max-with-page);
    margin: auto;
}
.fixed-nav .row .header-top{
    flex: 0 0 50%;
}
.fixed-nav .row .header-top .row .logo{
    flex: 0 0 30%;
}
.fixed-nav .row .header-top .row .hotline{
    flex: 0 0 0%;
}
.fixed-nav .row .header-top .row nav{
    flex: 0 0 70%;
}
.fixed-nav .row .header-top .row nav ul li a{
    color: #fff;
}
.fixed-nav .row .header-top .row nav ul li a:hover{
    color: var(--color-hover);
}
.fixed-nav .row .header-bottom{
    flex: 0 0 50%;
}
.fixed-nav .row .header-top .row .hotline{
    display: none;
}
.fixed-nav .row .header-bottom .row .search-box{
    flex: 0 0 40%;
    width: 100%;
}
.fixed-nav .row .header-bottom .row .search-box{
    flex: 0 0 60%;
    width: 100%;
}
.fixed-nav .row  .header-bottom .row .header-user-shortcut{
    flex: 0 0 40%;
    width: 100%;
}
/* fixed-nav */
/* header-top */
.header-top{
    max-width: var(--max-with-page);
    margin: auto;
    position: relative;
}
.header-top .row{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}
.header-top .row .logo, .header-top .row .hotline{
    flex: 0 0 20%;
}
.header-top .row .hotline .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header-top .row .hotline .row img{
    margin-right: 5px;
}
.header-top .row nav{
    flex: 0 0 60%;
}
.header-top .row nav .close-nav{
    display: none;
}
.header-top .row nav ul li{
    display: inline-block;
    margin: 0;
}
.header-top .row nav ul li a{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 15px;
    color: var(--color-nav);
    transition: all 0.3s;
}
.header-top .row nav ul li a:hover{
    color: var(--color-hover);
}
/* header-top */
/* header-bottom */
.header-bottom{
    background: var(--bacground);
    width: 100%;
    padding: 8px 0;
    position: relative;
}
.header-bottom .row{
    max-width: var(--max-with-page);
    margin: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.header-bottom .row .btn-toggler{
    display: none;
    font-size: 25px;
    line-height: 10px;
}
.header-bottom .row .btn-toggler ion-icon{
    cursor: pointer;
    color: #fff;
    padding: 3px;
    background: transparent;
    border-radius: 5px;
    transition: all 0.3s;
}
.header-bottom .row .btn-toggler ion-icon:hover{
    color: var(--color-text);
    background: #fff;
}
.header-bottom .row .search-box{
    flex: 0 0 80%;
    width: 100%;
}
.header-bottom .row .header-user-shortcut{
    flex: 0 0 20%;
}
.header-bottom .row .search-box > form{
    position: relative;
}
.header-bottom .row .search-box > form > input{
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 20px;
    border: 1px solid #aaa;
    font-size: 13px;
    padding: 10px 15px;
    box-sizing: border-box;
}
.header-bottom .row .search-box > form > ion-icon{
    position: absolute;
    top: 0px;
    right: 0;
    padding: 8px 8%;
    border-radius: 0 20px 20px 0;
    border: 1px solid #f48220;
}
.header-bottom .row .search-box.search-box-bg > form > ion-icon{
    background-color: #f48220;
    color: #ffffff;
    font-size: 17px;
}
.header-bottom .row  .header-user-shortcut ul li{
    display: inline-block;
    margin-left: 15px;
}
.header-bottom .row  .header-user-shortcut ul li:nth-child(1){
    display: none;
}
.header-bottom .row  .header-user-shortcut ul li > a{
    padding: 8px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.header-bottom .row  .header-user-shortcut ul li > a > ion-icon{
    font-size: 20px;
    color: rgb(44, 44, 44);
}
/* header-bottom */
.container{
    position: relative;
    display: block;
    max-width: var(--max-with-page);
    margin: auto;
    padding: 1rem 0;
}
/* Slider */
.swiper-container {
    width: 100%;
    height: auto;
}
.swiper-container .swiper-slide{
    background-color: #ccc;
    padding-top: 40%;
    position: relative;
}
.swiper-container .swiper-slide img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
}
/* Slider */
/* Product */
.product{
    margin-top: 1rem;
}
.product .row{
    display: flex;
    width: 100%;
}
.product .row .col-md-3{
    flex: 0 0 20%;
    width: 100%;
    padding-right: 20px;
}
.product .row .col-md-9{
    flex: 0 0 80%;
    width: 100%;
    position: relative;
}
/* col-md-3 */
.product .row .col-md-3 .product-header{
    display: inline-flex;
    align-items: center;
    width: 100%;
    color: rgb(0,0,0,0.8);
    border-bottom: 1px solid rgb(0,0,0,0.1);
    line-height: 2.5rem;
    padding-bottom: 10px;
}
.product .row .col-md-3 .product-header ion-icon{
    font-size: 20px;
    vertical-align: text-top;
    padding-right: 10px;
}
.product .row .col-md-3 .product-header span{
    font-size: var(--font-size-label);
    text-transform: capitalize;
    font-weight: 700;
}
.product-sidebar{
    position: relative;
}
.product-sidebar ul{
    list-style: none;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    padding-right: 10px;
}
.product-sidebar ul li{
    line-height: 40px;
    cursor: pointer;
    padding-left: 15px;
}
.product-sidebar ul li .sub-menu{
    display: none;
}
.product-sidebar ul li a, .product-sidebar ul li span{
    color: var(--color-text);
    font-size: var(--font-size-title);
    font-weight: 600;
    padding: 5px;
    line-height: 1.125rem;
}
.product-sidebar ul ul li{
    list-style: none;
    line-height: 30px;
    padding-left: 30px;
    border-bottom: none;
}
.product-sidebar ul li ion-icon{
    font-size: 16px;
    float: right;
    margin-top: 10px;
    transition: 0.5s
}
.product-sidebar ul li ion-icon.rotate{
    transform: rotate(90deg);
}
.product-sidebar ul ul li a{
    font-size: var(--font-size-title);
    font-weight: 500;
    text-transform: none;
}
/* col-md-3 */
/* col-md-9 */
.product .row .col-md-9 .row{
    width: 100%;
    height: auto;
    display: inline-block;
}
.product .row .col-md-9 .toolbar .row{
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 2.5rem;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(34, 34, 34, 0.1);
    margin-bottom: 15px;
}
.product .row .col-md-9 .toolbar .row .filters label{
    padding: 10px 0;
    font-size: var(--font-size-text);
    color: var(--color-text);
    font-weight: 600;
}
.product .row .col-md-9 .toolbar .row .filters select{
    padding: 5px;
    border-radius: 3px;
    width: 150px;
}
.product .row .col-md-9 .toolbar .row .modes{
    display: flex;
    font-size: 24px;
    background-color: gray;
    border-radius: 2px;
}
.product .row .col-md-9 .toolbar .row .modes span{
    display: flex;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    color: white;
}
.product .row .col-md-9 .toolbar .row .modes span.active{
    background-color: rgb(100, 149, 237);
    border-radius: 2px;
}
.product .row .col-md-9 .toolbar .row .modes span:hover{
    background-color: rgb(86, 134, 224);
    border-radius: 2px;
}
.product .row .col-md-9 .product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 14rem));
    align-content: space-between;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: center;
    grid-gap: 1rem 0.5rem;
}
.product .row .col-md-9 .product-list .product-item{
    width: 100%;
    display: block;
    padding: 5px;
    border: 1px solid transparent;
    background-color: #fff;
    transition: all 0.2s;
}
.product .row .col-md-9 .product-list .product-item .row{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    padding: 3px 5px 5px 5px;
}
.product .row .col-md-9 .product-list .product-item:hover{
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgb(0,0,0,0.1);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.product .row .col-md-9 .product-list .product-item .row .img-product-item img{
    width: 100%;
    object-fit: contain;
}
.product .row .col-md-9 .product-list .product-item .row .content-product-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product .row .col-md-9 .product-list .product-item .row .content-product-item div{
    color: var(--color-text);
    padding: 3px 0;
    text-align: center;
}
.product .row .col-md-9 .product-list .product-item .row .content-product-item span{
    font-size: var(--font-size-text);
    font-weight: 400;
}
.product .row .col-md-9 .product-list .product-item .row .content-product-item ion-icon{
    color: rgb(226, 226, 1);
    font-size: 16px;
    vertical-align: text-top;
}
.product .row .col-md-9 .product-list .product-item .row .product-item-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product .row .col-md-9 .product-list .product-item .row .product-item-bottom .price-product span{
    font-size: var(--font-size-label);
    line-height: 40px;
    font-weight: 700;
    margin: 0px 8px 0px 0px;
    
}
.product .row .col-md-9 .product-list .product-item .row .action-product-item button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    background: #f63;
    color: #fff;
    cursor: pointer;
}
.product .row .col-md-9 .product-list .product-item .row .action-product-item button:hover{
    background: #f53d2d;
}
.product .row .col-md-9 .product-list .product-item .row .action-product-item button span{
    font-size: var(--font-size-label);
}
.product .row .col-md-9 .product-list.list-column{
    display: flex;
    flex-direction: column;
}
.product .row .col-md-9 .product-list.list-column .product-item .row{
    flex-direction: row;
    justify-content: space-between;
}
.product .row .col-md-9 .product-list.list-column .product-item .row .img-product-item{
    flex: 0 0 25%;
}
.product .row .col-md-9 .product-list.list-column .product-item .row .content-product-item{
    flex: 0 0 50%;
}
.product .row .col-md-9 .product-list.list-column .product-item .row .product-item-bottom{
    flex: 0 0 25%;
    padding-right: 1rem;
}
.product .row .col-md-9 .product-list.list-column .product-item .row .img-product-item img{
    width: 80%;
}
/* col-md-9 */
/* Product */
/* footer */
footer{
    width: 100%;
    background: var(--bacground);
}
footer .row{
    display: flex;
    flex-wrap: wrap;
    max-width: var(--max-with-page);
    margin: auto;
}
footer .row .col-md-4{
    flex: 0 0 33.33%;
    padding: 10px;
    min-width: 300px;
}
footer .row .col-md-6{
    flex: 0 0 50%;
    padding: 10px;
}
footer .row  h6{
    font-size: var(--font-size-title);
    font-weight: 600;
    color: var(--color-title-footer);
    text-transform: uppercase;
    line-height: 2rem;
}
footer .row ul li div{
    display: inline-flex;
    align-items: center;
    line-height: 1.5rem;
    cursor: pointer;
    transition: all 0.2s;
}
footer .row ul li div:hover{
    color: #f48220;
}
footer .row ul li div ion-icon{
    font-size: var(--font-size-title);
    color: var(--color-text-footer);
    margin-right: 15px;
}
footer .row ul li div span{
    font-size: var(--font-size-text);
    color: var(--color-text-footer);
    font-weight: 500;
}
footer .row .infor .boss{
    margin-top: 15px;
    font-size: var(--font-size-title);
    color: var(--color-text-footer);
    font-weight: 500;
}
footer .row .infor .infor-social h6{
    margin-top: 10px;
}
footer .row .infor .infor-social .list-icon-social{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 5px 0;
}
footer .row .infor .infor-social .list-icon-social img{
    width: 40px;
    padding: 8px;
    background: #fff;
    border-radius: 100%;
    margin-right: 20px;
}
footer .row .social .bank .list-bank{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 5px 0;
    flex-wrap: wrap;
}
footer .row .social .bank .list-bank img{
    width: 50px;
    margin-right: 20px;
    padding: 5px;
}
footer .row .social .receive-news h6{
    margin-top: 1.2rem;
}
footer .row .map iframe{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
footer .row .social .bank .input-email-footer{
    position: relative;
    width: 86%;
}
footer .row .social .bank .input-email-footer input[type=text]{
    border-radius: 20px;
    padding: 10px 22% 10px 20px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    width: 100%;
}
footer .row .social .bank .input-email-footer button{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    border: 1px solid #f48220;
    cursor: pointer;
    background: #f48220;
}
footer .row .social .bank  .input-email-footer button span{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-title-footer);
}
footer .footer-bottom{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px;
    color: var(--color-text-footer);
    background: rgb(34, 34, 34, 0.1);
}
/* footer */
/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* tooltip */
@media all and (max-width: 991px){
    .header-top .row{
        justify-content: center;
    }
    .header-top .row .hotline{
        display: none;
    }
    .header-bottom .row{
        padding: 0 10px;
    }
    .fixed-nav .row .header-top{
        flex: 0 0 25%;
    }
    .fixed-nav .row .header-bottom{
        flex: 0 0 75%;
    }
    .fixed-nav .row .header-top .row nav{
        flex: 0 0 0%;
        position: fixed;
        left: 0;
        top: 0;
        width: 40%;
        transform: translateX(-100%);
        z-index: 3;
        background: #fff;
        height: 100%;
        transition: all 0.3s;
    }
    .fixed-nav .row .header-top .row nav.active{
        transform: translateX(0);
    }
    .fixed-nav .row .header-top .row nav ul li{
        display: block;
        padding: 5px 0;
    }
    .fixed-nav .row .header-top .row nav ul li a{
        color: var(--color-text);
    }
    .fixed-nav .row .header-top .row nav .close-nav{
        display: inline-flex;
        width: 100%;
        justify-content: flex-end;
        border-bottom: 1px solid rgb(0,0,0,0.1);
        cursor: pointer;
    }
    .fixed-nav .row .header-top .row nav .close-nav ion-icon{
        font-size: 25px;
        line-height: 2rem;
        border-left: 1px solid rgb(0,0,0,0.1);
    }
    .fixed-nav .row .header-bottom .row .search-box.search-box-bg{
        top: 118%;
    }
    .fixed-nav .row .header-bottom .row .header-user-shortcut{
        flex: 1;
    }
    .fixed-nav .row .header-bottom .row{
        flex-direction: row-reverse;
    }
    .header-bottom .row .search-box.search-box-bg.active{
        display: block;
    }
    .header-bottom .row{
        justify-content: space-between;
    }
    .header-bottom .row .btn-toggler{
        display: block;
    }
    .fixed-nav .row  .header-bottom .row .btn-toggler{
        display: block;
        margin-left: 15px;
    }
    .product .row{
        flex-direction: column;
    }
    footer .row{
        justify-content: center;
    }
    footer .row .col-md-4{
        flex: 0 0 50%;
    }
    .header-bottom .row  .header-user-shortcut ul li:nth-child(1){
        display: inline-block;
    }
    .header-bottom .row .search-box.search-box-bg{
        position: absolute;
        width: 80%;
        top: 100%;
        display: none;
    }
    .header-bottom .row .search-box{
        flex: 0 0 75%;
    }
    .header-bottom .row .header-user-shortcut{
        flex: 1 0 25%;
    }
    .header-top .row nav{
        flex: 0 0 0%;
        position: fixed;
        left: 0;
        top: 0;
        width: 40%;
        transform: translateX(-100%);
        z-index: 3;
        background: #fff;
        height: 100%;
        transition: all 0.3s;
    }
    .header-top .row nav.active{
        transform: translateX(0);
    }
    .header-bottom .row .search-box{
        flex: 0 0 0%;
        z-index: 2;
    }
    .header-bottom .row .header-user-shortcut{
        flex: 0 0 80%;
    }
    .header-top .row nav ul li{
        display: block;
        padding: 5px 0;
    }
    .header-top .row nav .close-nav{
        display: inline-flex;
        width: 100%;
        justify-content: flex-end;
        border-bottom: 1px solid rgb(0,0,0,0.1);
    }
    .header-top .row nav .close-nav ion-icon{
        font-size: 25px;
        line-height: 2rem;
        border-left: 1px solid rgb(0,0,0,0.1);
    }
    .product .row .col-md-9 .product-list{
        justify-content: center;
    }
}
@media (min-width: 769px) and (max-width: 991px){
   
}
@media all and (max-width: 768px){

}
.cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
@media (min-width: 991px) and (max-width: 1110px){
    .product .row .col-md-3{
        flex: 0 0 22%;
    }
    .product .row .col-md-9{
        flex: 0 0 78%;
    }
}